/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/* ---------------------------------------------------------------------*/
/* FÄRGER
            BAKGRUND BODY:              #fcfaf4
            BAKGRUND TOPBAR:            #51473d
            TEXTCOLOR TOPBAR:           #eae7d2
            BAKGRUND MENU:              #797066
                                        #9c9084
                                        #eae7d2
            TEXTCOLOR MENU:             #eae7d2
                                        #888076
            BAKGRUNDMAINCONT:           #eae7d2
            BAKGRUNDSUBCONT:            #eae7d2
            BAKGRUNDBOTTCONT:           #eae7d2
            TEXTCOLOR MAIN H1:          #797066
            TEXTCOLOR MAIN P:           #797066
            TEXTCOLOR SUB H1:           #797066
            TEXTCOLOR SUB P:            #797066
            TEXTCOLOR H2:               #51473d
            TEXTCOLOR P:                #797066 
SLUT */
/* ---------------------------------------------------------------------*/
body 
/* ---------------------------------------------------------------------*/
{
    background-color:#fcfaf4;
}
/* ---------------------------------------------------------------------*/
#container
/* ---------------------------------------------------------------------*/
{
    background-color: #51473d;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
}
/* ---------------------------------------------------------------------*/
#topbar
/* ---------------------------------------------------------------------*/
{
    background-image:url('pics/coffey.jpg');
    background-color: #51473d;
    background-repeat: no-repeat;
    background-position:center bottom;
    width:600px;
    height:215px;
    color: #eae7d2;
    font-size:10px;
    font-style: italic;
    font-family: Verdana;
    text-align:right;
}
/* ---------------------------------------------------------------------*/
#menu
/* ---------------------------------------------------------------------*/
{
    display: inline-block;
    height: 35px;
}
/* ---------------------------------------------------------------------*/
#menu ul
/* ---------------------------------------------------------------------*/
{   
    float:left;
    height:30px;
    list-style: none;
    font-size:14px;
    text-align: center;
    margin: 5px -30px 5px -30px;        /* top - right - bottom - left */
}
/* ---------------------------------------------------------------------*/
#menu ul li
/* ---------------------------------------------------------------------*/
{
    float:left;
}
/* ---------------------------------------------------------------------*/
#menu ul li a
/* ---------------------------------------------------------------------*/
{
    background-color: #797066;
    display: block;
    font-family: verdana;
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 15px 10px 15px;       /* top - right - bottom - left */
}
/* ---------------------------------------------------------------------*/
#menu ul li a:hover
/* ---------------------------------------------------------------------*/
{
    color: #eae7d2;
    background-color: #9c9084;
}
/* ---------------------------------------------------------------------*/
#menu .active a
/* ---------------------------------------------------------------------*/
{
    color: #888076;
    background-color: #eae7d2;
}
/* ---------------------------------------------------------------------*/
#menu a
/* ---------------------------------------------------------------------*/
{
    display: none;
}
/* ---------------------------------------------------------------------*/
#content
/* ---------------------------------------------------------------------*/
{
    width:600px;
}
/* ---------------------------------------------------------------------*/
#maincontent
/* ---------------------------------------------------------------------*/
{
    background-color: #eae7d2;
    width: 368px;
    min-height: 330px;
    float:left;
    border-right:1px dashed #c0c0c0;
    border-left: 1px solid #cecab9;
    border-color:;
}
/* ---------------------------------------------------------------------*/
#subcontent
/* ---------------------------------------------------------------------*/
{
    float:left;
    background-color:#eae7d2;
    width: 229px;
    min-height: 348px;
    padding-top:25px;
    border-right: 1px solid #cecab9;
}
/* ---------------------------------------------------------------------*/
#bottomcontent
/* ---------------------------------------------------------------------*/
{
    float:left;
    width:598px;
    font-size:10px;
    font-style:italic;
    padding-bottom:10px;
    border-left: 1px solid #cecab9;
    border-right: 1px solid #cecab9;
    border-bottom: 1px solid #cecab9;
}
/* ---------------------------------------------------------------------*/
#bottomcontent
/* ---------------------------------------------------------------------*/
{
    background-color:#eae7d2;
    text-indent: 10px;
}

#maincontent h1
/* ---------------------------------------------------------------------*/
{
    color:#797066;
    margin-left:10px;
    font-weight:100;
}
/* ---------------------------------------------------------------------*/
#maincontent img
/* ---------------------------------------------------------------------*/
{
    float:left;
    margin-left:10px;
    margin-right:5px;
}
/* ---------------------------------------------------------------------*/
#maincontent p
/* ---------------------------------------------------------------------*/
{
    color:#797066;
    font-family: verdana, sans-serif;
    font-weight: lighter;
    font-size:10pt;
    text-align:left;
    line-height:20px;
    margin-left:10px;
    margin-right:10px;
}
/* ---------------------------------------------------------------------*/
#subcontent h1
/* ---------------------------------------------------------------------*/
{   
    margin-left:10px;
    font-size:16px;
    font-family: Times New Roman;
    font-weight:100;
    color:#797066;
}
/* ---------------------------------------------------------------------*/
#subcontent p
/* ---------------------------------------------------------------------*/
{   
    margin-left:10px;
    margin-right:10px;
    color:#797066;
    font-size:10px;
    line-height: 20px;
}
/* ---------------------------------------------------------------------*/
h2
/* ---------------------------------------------------------------------*/
{
    font-size:14px;
    font-weight:100;
    color:#51473d;
    padding-top:25px;
    margin-left: 10px;
}
/* ---------------------------------------------------------------------*/
p
/* ---------------------------------------------------------------------*/
{
    color:#797066;
}