/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/* ---------------------------------------------------------------------*/
/* FÄRGER
            BAKGRUND BODY:              #fcfaf4
            BAKGRUND TOPBAR:            #51473d
            TEXTCOLOR TOPBAR:           #eae7d2
            BAKGRUND MENU:              #797066
                                        #9c9084
                                        #eae7d2
            TEXTCOLOR MENU:             #eae7d2
                                        #888076
            BAKGRUNDMAINCONT:           #eae7d2
            BAKGRUNDSUBCONT:            #eae7d2
            BAKGRUNDBOTTCONT:           #eae7d2
            TEXTCOLOR MAIN H1:          #797066
            TEXTCOLOR MAIN P:           #797066
            TEXTCOLOR SUB H1:           #797066
            TEXTCOLOR SUB P:            #797066
            TEXTCOLOR H2:               #51473d
            TEXTCOLOR P:                #797066 
            TEXTCOLOR SUB A:            #51473d
SLUT */
/* ---------------------------------------------------------------------*/
body 
/* ---------------------------------------------------------------------*/
{
    background-color:#fcfaf4;
}
/* ---------------------------------------------------------------------*/
#container
/* ---------------------------------------------------------------------*/
{
    background-color: #51473d;
    width: 600px;
    height:auto;
    margin:auto;
}
/* ---------------------------------------------------------------------*/
#topbar
/* ---------------------------------------------------------------------*/
{
    background-image:url('pics/coffey.jpg');
    background-color: #51473d;
    background-repeat: no-repeat;
    background-position:center bottom;
    width:598px;
    height:220px;
    color: #eae7d2;
    line-height:20px;
    letter-spacing:1.5px;
    font-size:8px;
    font-style: italic;
    font-family: verdana, sans-serif;
    font-weight:100;
    text-align:right;
    margin-top:10px;
    border-top: 1px solid #cecab9;
    border-left: 1px solid #cecab9;
    border-right: 1px solid #cecab9;
}
/* ---------------------------------------------------------------------*/
#menu
/* ---------------------------------------------------------------------*/
{
    display: inline-block;
    height: 30px;
}
/* ---------------------------------------------------------------------*/
#menu ul
/* ---------------------------------------------------------------------*/
{   
    float:left;
    height:26px;
    font-weight:lighter;
    list-style: none;
    text-align: center;
    margin: 5px -30px 5px -30px;        /* top - right - bottom - left */
}
        
    a:link { color: #eae7d2 }
/* ---------------------------------------------------------------------*/
#menu ul li
/* ---------------------------------------------------------------------*/
{
    float:left;
}
/* ---------------------------------------------------------------------*/
#menu ul li a
/* ---------------------------------------------------------------------*/
{
    background-color: #797066;
    display: block;
    font-family: verdana, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    margin-left:1px;
    margin-bottom:-3px;
    padding: 7px 20px 10px 20px;       /* top - right - bottom - left */
}
/* ---------------------------------------------------------------------*/
#menu ul li a:hover
/* ---------------------------------------------------------------------*/
{
    color: #eae7d2;
    background-color: #9c9084;
}
/* ---------------------------------------------------------------------*/
#menu .active a
/* ---------------------------------------------------------------------*/
{
    color: #888076;
    background-color: #eae7d2;
}
/* ---------------------------------------------------------------------*/
#menu a
/* ---------------------------------------------------------------------*/
{
    display: none;
}
/* ---------------------------------------------------------------------*/
#content
/* ---------------------------------------------------------------------*/
{
    background: #eae7d2;
    border: 1px solid #cecab9;
    padding-top:15px;
    
}
/* ---------------------------------------------------------------------*/
#maincontent
/* ---------------------------------------------------------------------*/
{

    float:left;
    width: 380px;
    height:auto;
    border-right:1px dashed #c0c0c0;
    
}
/* ---------------------------------------------------------------------*/
#subcontent
/* ---------------------------------------------------------------------*/
{   width: 200px;
    float:left;
    height:auto;
    background-color:#eae7d2;
    padding-top:25px;
}
/* ---------------------------------------------------------------------*/
#subcontent ul li a
/* ---------------------------------------------------------------------*/
{
    color: #51473d;
    font-size: 12px;
}
/* ---------------------------------------------------------------------*/
#subcontent ul
/* ---------------------------------------------------------------------*/
{   
    list-style:none;
    font-family: verdana;
    font-weight: lighter;
    color: #51473d;
    margin-left: -30px;
}
/* ---------------------------------------------------------------------*/
#subcontent li
/* ---------------------------------------------------------------------*/
{   
    display:block;
}
/* ---------------------------------------------------------------------*/
#bottomcontent
/* ---------------------------------------------------------------------*/
{
    background-color:#eae7d2;
    overflow: auto;
    height:auto;
    width:598px;
    color: #797066;
    font-size:10px;
    font-style:italic;
    font-family:verdana;
    text-indent: 10px;
    padding-bottom:15px;
}
/* ---------------------------------------------------------------------*/
#maincontent h1
/* ---------------------------------------------------------------------*/
{
    color:#797066;
    font-family: "Times new roman", sans-serif;
    margin-left:10px;
    font-weight: 100;
}
/* ---------------------------------------------------------------------*/
#maincontent img
/* ---------------------------------------------------------------------*/
{
    float:left;
    margin-left:10px;
    margin-right:5px;
}
/* ---------------------------------------------------------------------*/
#maincontent p
/* ---------------------------------------------------------------------*/
{
    color:#797066;
    font-family: verdana, sans-serif;
    font-weight: lighter;
    font-size:10pt;
    text-align:left;
    line-height:20px;
    margin-left:10px;
    margin-right:10px;
}
/* ---------------------------------------------------------------------*/
#subcontent h1
/* ---------------------------------------------------------------------*/
{   
    margin-left:10px;
    padding-bottom:12px;
    font-size:16px;
    font-family: "Times New Roman", sans-serif;
    font-weight:lighter;
    color:#51473d;

}
/* ---------------------------------------------------------------------*/
#subcontent p
/* ---------------------------------------------------------------------*/
{   

    color:#797066;
    font-size:8px;
    font-weight:100;
    font-family:verdana;
    line-height: 20px;
    letter-spacing:0.5px;
    text-align: left;
    padding-left:10px;
}
/* ---------------------------------------------------------------------*/
h2
/* ---------------------------------------------------------------------*/
{
    font-size:14px;
    font-weight:100;
    font-family:"Times New Roman", sans-serif;
    color:#51473d;

    margin-left: 10px;
    margin-bottom: -15px;
}
/* ---------------------------------------------------------------------*/
p
/* ---------------------------------------------------------------------*/
{
    color:#797066;
}