/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* ---------------------------------------------------------------------*/
body 
/* ---------------------------------------------------------------------*/
{
    background-color:#FFFFFF;
}
/* ---------------------------------------------------------------------*/
#container
/* ---------------------------------------------------------------------*/
{
    background-color:#eae7d2;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
}
/* ---------------------------------------------------------------------*/
#topbar
/* ---------------------------------------------------------------------*/
{
    background-image:url('pics/coffey.jpg');
    background-color: #51473d;
    background-repeat: no-repeat;
    width:600px;
    height:215px;
    text-align:right;
}
/* ---------------------------------------------------------------------*/
#menu
/* ---------------------------------------------------------------------*/
{
    background-color:#797066;
}
/* ---------------------------------------------------------------------*/
#content
/* ---------------------------------------------------------------------*/
{
    background-color:#eae7d2;
}
/* ---------------------------------------------------------------------*/
#maincontent
/* ---------------------------------------------------------------------*/
{
    background-color:#eae7d2;
    width: 369px;
    float:left;
    border-right:1px dashed;
    border-color:black;
}
/* ---------------------------------------------------------------------*/
#subcontent
/* ---------------------------------------------------------------------*/
{
    background-color:#eae7d2;
    width: 230px;
    height:;
    float:left;
}
/* ---------------------------------------------------------------------*/
#bottomcontent
/* ---------------------------------------------------------------------*/
{
    
    float:left;
    margin-left:;
    width:600px;
    font-size:10px;
    font-style:italic;
    padding-bottom:10px;
    
}
/* ---------------------------------------------------------------------*/
#bottomcontent
/* ---------------------------------------------------------------------*/
{
    background-color:#eae7d2;
}
/* ---------------------------------------------------------------------*/
#menu li 
/* ---------------------------------------------------------------------*/
{
    display: inline;
    margin-right:25px;
}
/* ---------------------------------------------------------------------*/
#maincontent h1
/* ---------------------------------------------------------------------*/
{
    color:#797066;
}
/* ---------------------------------------------------------------------*/
#maincontent img
/* ---------------------------------------------------------------------*/
{
    float:left;
    margin-left:10px;
    margin-right:5px;
    margin-bottom:px;
}
/* ---------------------------------------------------------------------*/
#maincontent p
/* ---------------------------------------------------------------------*/
{
    color:#797066;
    margin-left:10px;
    margin-right:5px;
}
/* ---------------------------------------------------------------------*/
#subcontent h1
/* ---------------------------------------------------------------------*/
{
    font-size:16px;
    color:#797066;
}
/* ---------------------------------------------------------------------*/
h2
/* ---------------------------------------------------------------------*/
{
    font-size:14px;
    color:#797066;
}
/* ---------------------------------------------------------------------*/
h3
/* ---------------------------------------------------------------------*/
{
    color:#797066;
    font-size:px;
}
/* ---------------------------------------------------------------------*/
p
/* ---------------------------------------------------------------------*/
{
    color:#797066;
    font-size:px;
}